
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("image/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    min-height: 100vh;
}


.intro {
    margin-top: 40px;
    margin-bottom: 10px;
}

.intro h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.intro span {
    font-weight: bold;
}

.intro p {
    color: #555;
    font-size: 0.9rem;
}

/* SEARCH BAR */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.search-bar input {
    width: 450px;
    max-width: 70vw;
    padding: 15px 25px;
    border-radius: 40px;
    border: 2px solid black;
    outline: none;
    font-size: 1rem;
}

.search-bar button {
    
    border: none;
    background: transparent;
    cursor: pointer;

}


.search-bar img {

    height: 75px;
    width: 75px;

}
.search-bar img:hover{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}



/*------------------------------------ERROR DIV------------------*/



.errorsMSG_Name, .errorsMSG_Fetch{
    display: none;
    border: red solid 3px;
    background-color: #f48989;
    border-radius: 40px;
    height: 45px;
    text-align: center;
    width: 250px;
}

.errorsMSG p{
    margin-top: 9px;
}

.contenuCarte {
    display: flex;
    justify-content: center; 
    gap: 30px; 
    width: 80%;
    margin-top: 20px;
    height: 500px;
    
    
}
.carte-meteo,
.historique {
    width: 100%;
    min-height: 250px;
    border-radius: 40px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    background: rgba(255,255,255,0.18);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255,255,255,0.25);
}



.carte-meteo {
    margin-right: 20px;
}

.historique {
    margin-left: 20px;
}



.carte-meteo,
.historique {
    display: inline-block;
    vertical-align: top;
}


.carte-meteo {
    padding: 20px;
}


.cityName {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.cityName h1{
    display: inline;
    margin-left: 10px;
}



.etat .temp h3,.etat .hummidity h3,.etat .windSpeed h3{
    display: inline;
    bottom: 15px;
    position: relative;
}


.imgcenter{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto 20px auto;
    height:200px;
    width:200px;
}

/*---------------------------------HISTORIQUE--------------------*/

.les_historiques{
    margin-top: 20px;
    margin-left: 27px;
    
    top: 40px;
    list-style: none;
}



.les_historiques li{

    display: flex;
    
    align-items: center;
    padding: 0 20px;
    max-width: 570px;
    background: rgba(255,255,255,0.18);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 40px;
    height: 55px;
    justify-content: space-between;
    
}

.les_historiques button{
    border: none;
    background: transparent;
    cursor: pointer;
     
}
.les_historiques .controleBTN{
    display:flex;
    gap:10px;
    margin-left:auto;
}



                                            /*---------------------PICTURES----------------------------*/
                                            /*---------------------PICTURES----------------------------*/
                                            /*---------------------PICTURES----------------------------*/
                                            /*---------------------PICTURES----------------------------*/


.cityName img{
    width:20px;
    height: 20px;    
}

.imgcenter img{
    width: 100px;
    height: 100px;
    
}
.etat {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
}

.etat .temp ,.etat .hummidity,.etat .windSpeed{
    
    height:100px;
    width: 30%;
    bottom: 10px;
    
}

.etat .temp img{
    width:50px;
    height: 50px;
    margin-right: 25px;
}

.etat .hummidity img{
    width:50px;
    height: 50px;
    margin-right: 25px;
}


.etat .windSpeed img{
    width:50px;
    height: 50px;
    margin-right: 25px;
}



.les_historiques img{
    width:25px;
    height: 25px;
}

.down img{
    width: 30px;
    height: 30px;
}

.weatherChart{
    display: none;
}

@media (max-width: 768px) {
    .search-bar {
        flex-direction: column;
    }

    .search-bar input {
        width: 100%;
    }

    .carte-meteo,
    .historique {
        width: 90%;
        margin: 10px 0;
        display: block;
    }

    .contenuCarte{
    flex-direction: column;
    align-items:center;
    height:auto;
}
}
li{
    margin-top: 20px;
}
